/* General setup */

* {
    box-sizing: border-box;
    line-height: normal;
    letter-spacing: normal;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
  word-spacing: normal;
  font-family: 'Quicksand', sans-serif;
  font-size: 15px;
}

h1{
    font-size: 30px;
}
h2{
    font-size: 25px;
}
/* Layout */
section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

nav li a{
    text-decoration: none;
    display: inline-block;
    width: 100%;
    line-height: 3em;
    text-align: center;
    font-size: 2em;
    border: 2px solid black;
}

nav ul li a:hover, nav ul li a:focus {
    color: black;
    background-color: whitesmoke;
    font-weight: bold;
}

footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 20px;
}

/* header and footer */

header, footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}
